---
import BaseLayout from '@/layouts/BaseLayout.astro';
---
<BaseLayout description='Milky Web brings a galaxy of web infrastructure into your hands.'>
	<div style={{ height: '10000px' }}></div>
</BaseLayout>
