---
import Hero from '@/components/Hero.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
---
<style lang="scss">

</style>
<BaseLayout description='Milky Web brings a galaxy of web infrastructure into your hands.'>
	<Hero />
	<div style={{ height: '10000px' }}></div>
</BaseLayout>
