---
import BaseLayout from '@/layouts/BaseLayout.astro';
---
<style lang="scss">
	$breakpoint: 700px;

	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.hero-title {
		font-size: 64px;

		& > span {
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		
		:root[data-theme="dark"] & > span {
			background-image: linear-gradient(198deg, rgb(var(--primary-500)) 20%, rgb(var(--primary-300)) 60%, #fe37f7 90%);
		}

		:root[data-theme="light"] & > span {
			background-image: linear-gradient(198deg, rgb(var(--primary-900)) 20%, rgb(var(--primary-600)) 60%, #ce0fc8 90%);
		}
	}

	@media only screen and (max-width: $breakpoint) {
		.hero-title {
			font-size: 48px;
		}
	}
</style>
<BaseLayout description='Milky Web brings a galaxy of web infrastructure into your hands.'>
	<div class="hero">
		<h1 class="hero-title">This is <span>Milky Web</span></h1>
	</div>
	<div style={{ height: '10000px' }}></div>
</BaseLayout>
